.login-form {
    display: flex;
    justify-content: center;
    margin: 200px 0;
}

.login-form section {
    max-width: 80%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 6px 16px rgba(0,0,0.8);
}

.login-form a {
    position: center;
    width: 306px;
    height: 26px;
    left: 809px;
    top: 779px;
}