.tasks-todo {
    text-align: center;
    padding: 8px;
}

.tasks-todo h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.tasks-todo .task-card {
    display: flex;
    margin-top: 32px;
    flex-wrap: wrap;
}